<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>All crawled courses</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
</head>
<body>
    <h1>List of crawled urls:</h1>
    <table>
        <tr>
            <th>Course</th>
            <th>Details Link</th>
            <th>Official course url</th>
        </tr>
    {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td><a href="{{ course.short_url }}">details link</a></td>
            <td><a href="{{ course.url }}">official link</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>